@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.border {
    border: solid;
}

.flex_row {
    display: flex;
    gap: 14px;
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #01504b;
    color: white;
    padding: 20px 80px;
}

a {
    text-decoration: none;
}

a span {
    font-size: x-large;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    height: max-content;
    margin: auto 0px;
}

ul li a {
    margin-left: 20px;
    color: white;
}

/* Main */
.first_section {
    /* background: linear-gradient(to right, #e0fbfc, #2FAF7E); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    padding-top: 40px;
    padding-bottom: 60px;
}

h1,
h2 {
    font-weight: 500;
}

h1 {
    font-size: xx-large;
    color: #2FAF7E;
}

h2 {
    font-size: x-large;
    color: #1F1F1F;
}

p {
    font-weight: 300;
    padding-top: 2px;
    color: #303030;
}

.welcome_image {
    width: max-content;
    margin: auto;
}

.welcome_image img {
    height: auto;
    border-radius: 40px;
}

.welcome_section {
    height: max-content;
    margin: auto;
    text-align: center;
}

.welcome_section a {
    background-color: #2FAF7E;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
    color: white;
    font-size: medium;
    width: max-content;
    display: block;
    margin-top: 10px;
}

/* Footer */
footer {
    display: flex;
    padding: 10px 0px;
    background-color: #01504b;
}

footer a{
    width: max-content;
    margin: auto auto;
    font-weight: 400;
    color: white;
}